<%= @game.player_1.name %> attacked <%= @game.player_2.name %>
<br>
<%= @game.player_1.name%>: <%= @game.player_1.hit_points %>HP <%= @game.player_2.name%>: <%= @game.player_2.hit_points %>HP
<br>


<%= @game.players %>

<form action="/next_turn" method="post">
  <input type="submit" value="Next turn">
</form>
